.advantages {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 53px 0 0 0;
  padding: 0;

  &__difference {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 471px;
    border-top: 1px solid transparent;
  }

  &__city {
    width: 100%;
    height: 260px;
  }

  &__bridge {
    width: 100%;
    height: 260px;
  }

  &__present {
    width: 100%;
    height: 211px;
    background-color: @gl-color;
    text-align: center;
    margin: 0 auto;
  }

  &__beauties {
    .invitation__slogan();
  }

  &__count,
  &__features {
    .advantages__features();
  }

  &__count::before,
  &__count::after {
    content: "\2014";
  }

  &__area {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 503px;
    background-color: #eeeeee;
    margin-left: -40px;
    list-style: none;
  }

  &__small {
    min-width: 256px;
    height: 117px;
    text-align: center;
    margin: 26px 26px 50px 26px;
  }

  &__road {
    width: 237px;
    height: 118px;
    text-align: center;
    margin: 50px 41px 50px 42px;
  }

  &__tourists {
    width: 276px;
    height: 118px;
    text-align: center;
    margin: 50px 22px 24px 22px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__difference {
    display: flex;
    flex-direction: row;
    min-width: 768px;
    height: 256px;
    margin: 0 auto;
  }

  .transition {
    margin: 0;
    padding: 0;
    width: 256px;
    height: 256px;
  }

  .advantages__bridge {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .advantages__difference {
    width: 1200;
    height: 256px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .advantages__present {
    width: 256px;
    height: 256px;
    margin: 0;
    padding-top: 40px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .advantages__present {
    width: 400px;
    height: 256px;
    margin: 0;
    padding-top: 40px;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .advantages__city,
  .advantages__bridge {
    width: 512px;
    height: 256px;
    margin: 0;
  }
}


@media (min-width: @desktop-width) {
  .advantages__city,
  .advantages__bridge {
    width: 800px;
    height: 256px;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .advantages__area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    height: 253px;
    margin: 0 auto;
    padding-left: 0;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .advantages__area {
    width: 1200px;
    height: 256px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__small {
    width: 220px;
    height: 250px;
    margin: 0 auto;
    padding-top: 42px;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__originality {
    display: inline-block;
  }
}

@media (min-width: @tablet-width) {
  .advantages__originality {
    display: inline-block;
  }
}

.transition {
  width: 320px;
  height: 191px;
}
