.advice {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  height: 416px;


  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__title {
    .invitation__slogan();
  }

  &__description {
    .advantages__features();
  }

  &__live {
    width: 240px;
    height: 105px;
    margin: 35px 11px 26px 69px;
  }

  &__memory {
    width: 229px;
    height: 84px;
    margin: 26px 21px 0 70px;
  }

  &__feed {
    width: 210px;
    height: 105px;
    margin: 26px 40px 35px 70px;
  }
}

@media (min-width: @tablet-width) {
  .advice__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 701px;
    height: 113px;
    margin: 158px 31px 60px;
    margin-top: 158px;
  }
}

@media (min-width: @desktop-width) {
  .advice__list {
    width: 701px;
    height: 113px;
  }
}

@media (min-width: @tablet-width) {
  .advice__live {
    margin: 0;
  }
}
