.booking {
  width: 260px;
  height: 120px;
  text-align: center;
  margin: 33px 30px 27px 30px;

  &__interest {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  &__pointout {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: @tablet-width) {
  .booking {
    width: 435px;
    height: 107;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .booking {
    width: 435px;
    height: 107;
    margin: 0 auto;
  }
}
