.gallery {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  height: 1826px;
  padding: 0 20px;
  //Галерея header
  &__picture {
    box-sizing: border-box;
    position: relative;
    left: 0;
    width: 280px;
    height: 189px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__video {
    width: 280px;
    text-align: center;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__foto {
    width: 280px;
    height: 59px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }
  //фото
  &__list {
    position: relative;
    list-style: none;
    width: 320px;
    height: 1660px;
    margin: 0;
    padding: 0;
    left: -20px;
  }

  &__pics {
    width: 280px;
    height: 414px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
    text-align: center;
    padding-top: 23px;
  }

  &__title {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;
  }

  &__author {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }

  &__prise {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 13px 209px 15px 20px;
  }
}

.video {
  &__presentation {
    width: 320px;
    height: 427px;
  }

  &__doubt {
    .invitation__slogan();
    text-align: center;
    margin-top: 32px;
  }

  &__clip {
    display: block;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0 40px;
  }

  &__video {
    width: 320px;
    height: 201px;
  }
}
