.map {
  display: block;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.mp {
  min-width: 320px;
  height: 350px;
}

@media (min-width: @mobile-width) {
  @media (min-resolution: 2dppx) {
    .mp img {
      display: none;
    }

    .mp {
      background-image: url("../img/mapmobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: 320px 100%;
    }
  }
}

@media (min-width: @tablet-width) {
  .mp img {
    display: none;
  }

  .mp {
    min-width: 768px;
    height: 350px;
    background-image: url("../img/maptablet.jpg");
    background-repeat: no-repeat;
    background-size: 768px 350px;
  }

  @media (min-width: @mobile-width) {
    @media (min-resolution: 2dppx) {
      .advantages__mg img {
        display: none;
      }

      .advantages__mg {
        background-image: url("../img/maptablet@2x.jpg");
        background-repeat: no-repeat;
        background-size: 768px 350px;
      }
    }

    .map {
      width: 768px;
      height: 350px;
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1200px;
    margin-left: 40px;
    height: 350px;
    margin-top: 50px;
  }
}
