.map {
  display: block;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.mp {
  min-width: 320px;
  height: 350px;
}


@media (min-width: @tablet-width) {
  .mp {
    min-width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 100%;
    height: 350px;
    margin-top: 50px;
  }
}
