.page-header {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  width: 320px;
  height: 223px;
  text-align: center;
  background-color: @gl-color;
  padding: 0;
}

.site-list {
  &__item {
    width: 100%;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;
    list-style: none;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
  }
}

.page-header__square {
  width: 320px;
  height: 84px;
  background-color: #ffffff;
  text-align: center;
}

.page-header__logo {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.main-nav {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}
