.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.page-header__logo {
  width: 101.7px;
  height: 84px;
  background-color: @bg-color;
}

.main-nav__list {
  min-width: 320px;
  height: 223px;
  text-align: center;
  background-color: @gl-color;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list {
  &__item {
    display: block;
    min-width: 320px;
    height: 55px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
  }
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
