.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainwidth {
  width: 100%;
}

.page-header__logo {
  display: inline-block;
  width: 101.7px;
  height: 84px;
  background-color: @bg-color;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    position: absolute;
    left: 290px;
    margin: 0;
    width: 101.7px;
    height: 84px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    position: absolute;
    left: 500px;
    margin: 0;
    width: 186.6px;
    height: 96.43px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  min-width: 320px;
  height: 223px;
  list-style: none;
  margin: 0;
  padding: 0;
  outline-offset: -5px;
}


.site-list {
  &__item {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    width: 1031px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
  }
}

@media (min-width: @tablet-width) {
  .mine-nav {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .mine-nav {
    width: 1200px;
  }
}
