.page {
  height: 100%;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  background-color: @text-color;
  color: @text-color;
  margin: 0;
  padding: 0;

  &-body {
    width: 100%;
    height: 100%;
    background-color: @pbc-color;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @tablet-width) {
  .page-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .page-main {
    margin-right: auto;
    margin-left: auto;
  }
}
