.page-footer {

  width: 320px;
  height: 233px;
  margin-top: 10px;
  padding: 28.5px;
  padding-left: 0;
}

.social__title {
  width: 166px;
  height: 26px;
  margin: 0 78px 33.5px 76px;
  text-decoration: none;
  color: black;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.social__list {
  list-style: none;
  display: flex;
  padding: 0;
}

.social__item--vk {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin: 33.5px 6px 45px 84px;
}

.social__item--fb {
  background-color: #81b3d2;
  width: 47px;
  height: 48px;
  margin: 33.5px 6px 45px 6px;
}

.social__item--im {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin: 33.5px 85px 45px 6px;
}

.social__link {
  text-decoration: none;
}

.development__link {
  width: 121px;
  height: 26px;
  margin: 45px 119px 26px 80px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: black;
}
