.invitation {
  min-width: 320px;

  &__big {
    width: 285px;
    height: 162px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
  }

  &__slogan {
    display: inline-block;
    .invitation__slogan();
    min-width: 285px;
    margin: 0;
  }

  &__intro {
    .invitation__intro();
    min-width: 285px;
    margin: 0;
    margin-top: 32px;
  }
}

.page-main__welcome {
  min-width: 320px;
  height: 389px;
}

.page-main__cataform {
  height: 214px;
}

.page-main__grand {
  width: 100%;
}

@media (max-width: @mobile-width) {
  .invitation__square {
    min-width: 320px;
    height: 20px;
    background-color: @bg-color;
    margin-top: 11px;
  }

  .invitation__square::after {
    display: block;
    position: relative;
    content: "";
    border-top: 18px solid @bg-color;
    border-left: 155px solid transparent;
    border-right: 155px solid transparent;
    top: 20px;
  }
}

@media (min-width: @tablet-width) {
  .invitation__big {
    min-width: 550px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 52.5px;
    margin-top: 43.5px;
    font-size: 21px;
  }

  .page-main {
    background-color: @bg-color;
    min-width: 768px;

    &__grand {
      width: 100%;
      height: 100%;
    }

    &__welcome {
      margin-bottom: 102px;
    }
  }

  .invitation__intro {
    font-size: 14px;
    line-height: 26px;
    margin-top: 30px;
  }

  .invitation__slogan {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .invitation__big {
    width: 550px;
    height: 110px;
    margin: 0 auto;
    margin-top: 55px;
  }

  .invitation__intro {
    font-size: 14px;
    line-height: 26px;
    margin-top: 30px;
  }

  .page-main {
    width: 1200px;
    background-color: #e7e5e5;

    &__grand {
      width: 100%;
      height: 100%;
    }

    .invitation {
      margin-bottom: 41px;
    }

    &__cataform {
      width: 1200px;
      margin: 0 auto;
      margin-bottom: -23px;
    }
  }

  .invitation__slogan {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }

  .cataloge {
    height: 1900px;
  }
}
