.invitation {
  min-width: 320px;

  &__big {
    width: 285px;
    height: 162px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
  }

  &__slogan {
    display: inline-block;
    .invitation__slogan();
    min-width: 285px;
    margin: 0;
  }

  &__intro {
    .invitation__intro();
    min-width: 285px;
    margin: 0;
    margin-top: 32px;
  }
}

.page-main__welcome {
  min-width: 320px;
  height: 389px;
}

@media (max-width: @mobile-width) {
  .invitation__square {
    min-width: 320px;
    height: 20px;
    background-color: @bg-color;
    margin-top: 11px;
  }

  .invitation__square::after {
    display: block;
    position: relative;
    content: "";
    border-top: 18px solid @bg-color;
    border-left: 155px solid transparent;
    border-right: 155px solid transparent;
    top: 20px;
  }
}


@media (min-width: @mobile-width) {
  @media (min-resolution: 2dppx) {
    .page-main__welcome img {
      display: none;
    }

    .page-main__welcome::after {
      display: none;
    }


    .page-main__welcome {
      background-image: url("../img/mbsedona2x.jpg");
      background-repeat: no-repeat;
      background-size: 320px 100%;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-main__welcome img {
    display: none;
  }

  .invitation__big {
    min-width: 550px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 52.5px;
    font-size: 21px;
  }

  .page-main {
    background-color: @bg-color;
    min-width: 768px;


    &__welcome {
      height: 518px;
      background-image: url("../img/tbsedona.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-bottom: 43.5px;
    }

    &__grand {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-resolution: 2dppx) {
    .page-main__welcome img {
      display: none;
    }

    .page-main__welcome {
      background-image: url("../img/tbsedona@2x.jpg");
      background-repeat: no-repeat;
      background-size: 768px 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .invitation__big {
    width: 550px;
    height: 110px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .invitation__intro {
    font-size: 14px;
    line-height: 26px;
    margin-top: 30px;
  }
}

@media (min-width: @desktop-width) {
  .invitation__intro {
    font-size: 14px;
    line-height: 26px;
    margin-top: 30px;
  }

  .page-main {
    background-color: @bg-color;
    min-width: 768px;

    &__welcome img {
      display: none;
    }

    &__welcome {
      height: 518px;
      background-image: url("../img/dssedona.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-bottom: 55px;
    }

    &__grand {
      width: 100%;
      height: 100%;
    }

    .invitation {
      margin-bottom: 41px;
    }
  }

  @media (min-resolution: 2dppx) {
    .page-main__welcome img {
      display: none;
    }

    .page-main__welcome {
      background-image: url("../img/dssedona@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .page-main__grand {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: @tablet-width) {
  .invitation__slogan {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .invitation__slogan {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }
}
