
.reviews__forma {
  width: 320px;
  height: 1660px;
}

.reviews__header {
  width: 306px;
  height: 151px;
  padding: 36px 6px 25px 8px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.reviews__complain {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.reviews__help {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

//Представьтесь
.reviews__group {
  box-sizing: border-box;
  width: 320px;
  height: 295px;
  border-bottom: 1px solid #e5e5e5;
  padding: 11px 18px;
}

.reviews__legend {
  margin: 0 75px 19px 75px;
  width: 170px;
  height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}


.reviews__subgroup {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.reviews__tease {
  width: 66px;
  height: 26px;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 5px;
}


.reviews__name {
  box-sizing: border-box;
  width: 230px;
  height: 58px;
  padding: 18px 141px 14px 22px;
  background-color: #f2f2f2;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
}

.reviews__call {
  box-sizing: border-box;
  width: 105px;
  height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 5px 20px 0;
}

.reviews__surname {
  box-sizing: border-box;
  width: 192px;
  height: 58px;
  padding: 18px 82px 20px 22px;
  background-color: #f2f2f2;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
}

.reviews__middl {
  box-sizing: border-box;
  width: 100px;
  height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.reviews__middlename {
  box-sizing: border-box;
  width: 192px;
  height: 58px;
  padding: 14px 12px 14px 14px;
  background-color: #f2f2f2;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 46px;
  text-transform: uppercase;
}

//Контактная информация
.reviews__withus {
  box-sizing: border-box;
  width: 320px;
  height: 286px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
}

.reviews__talk {
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0 5px 17px 5px;
  text-transform: uppercase;
}


.reviews__connect {
  display: inline-block;
  width: 192px;
  height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0 86px 8px 42px;
  text-transform: uppercase;
}

.reviews__telephon {
  box-sizing: border-box;
  width: 280px;
  height: 58px;
  padding: 18px 92px 14px 22px;
  background-color: #f2f2f2;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reviews__electronic {
  display: inline-block;
  width: 179px;
  height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 14px 100px 5px 41px;
  text-transform: uppercase;
}

.reviews__mail {
  box-sizing: border-box;
  width: 280px;
  height: 58px;
  padding: 18px 109px 14px 22px;
  background-color: #f2f2f2;
  margin: 5px 0 28px 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 28px;
}

//Общие впечатления

.reviews__impression {
  box-sizing: border-box;
  width: 320px;
  height: 288px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
  margin: 0;
}

.reviews__retelling {
  display: inline;
  width: 265px;
  height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.reviews__pozitiv {
  display: flex;
  width: 296px;
  height: 48px;
  margin-bottom: 21px;
}

.reviews__well {
  display: inherit;
  width: 48px;
  height: 48px;
  margin: 0 0 21px 4px;
}

.reviews__well:nth-child(1) {
  margin: 25px 0 0 4px;
}

.reviews__label {
  display: inline-block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 37px 7px 43px 4px;
}
//Посещение достопримечательностей

.reviews__visit {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 320px;
  height: 408px;
  border-bottom: 1px solid #e5e5e5;
}

.rocks {
  display: inline-block;
  width: 268px;
  height: 52px;
  text-align: center;
  margin: 15px 25px 26px 26px;
}

.places {
  width: 215px;
  height: 46px;
}

.reviews__bridge {
  width: 46px;
  height: 46px;
  margin-bottom: 34px;
  margin-left: 20px;
}

.reviews__mountain {
  position: relative;
  width: 139px;
  height: 26px;
  margin-bottom: 54px;
  top: -15px;
  right: -25px;
}

//Опишите свои эмоции

.reviews__their {
  display: flex;
  flex-direction: column;
  width: 373px;
  height: 320px;
}

.reviews__describe {
  width: 345px;
  height: 26px;
  margin: 20px 38px 15px 38px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.reviews__emo {
  width: 279px;
  height: 160px;
  margin: 0 22px 51px 19px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reviews__button {
  width: 280px;
  height: 58px;
  margin: 0 21px 41px 19px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: @gl-color;
  color: #ffffff;
  text-transform: uppercase;
  padding: 18.5px 30px 13.5px 30px;
  text-align: center;
}
