
.reviews {
  &__forma {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 1660px;
  }

  &__header {
    width: 306px;
    height: 151px;
    padding: 36px 6px 25px 8px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }

  &__complain {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &__help {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
  }

  //Представьтесь
  &__group {
    box-sizing: border-box;
    width: 320px;
    height: 295px;
    border-bottom: 1px solid #e5e5e5;
    padding: 11px 18px;
  }

  &__legend {
    margin: 0 75px 19px 75px;
    width: 170px;
    height: 26px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &__subgroup {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__tease {
    width: 66px;
    height: 26px;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin-right: 5px;
  }

  &__name {
    box-sizing: border-box;
    width: 230px;
    height: 58px;
    padding: 18px 141px 14px 22px;
    background-color: #f2f2f2;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 20px;
  }

  &__call {
    box-sizing: border-box;
    width: 105px;
    height: 26px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0 5px 20px 0;
  }

  &__surname {
    box-sizing: border-box;
    width: 192px;
    height: 58px;
    padding: 18px 82px 20px 22px;
    background-color: #f2f2f2;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 20px;
  }

  &__middl {
    box-sizing: border-box;
    width: 100px;
    height: 26px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__middlename {
    box-sizing: border-box;
    width: 192px;
    height: 58px;
    padding: 14px 12px 14px 14px;
    background-color: #f2f2f2;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 46px;
    text-transform: uppercase;
  }

  //Контактная информация
  &__withus {
    box-sizing: border-box;
    width: 320px;
    height: 286px;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
  }

  &__talk {
    display: inline-block;
    box-sizing: border-box;
    width: 270px;
    height: 26px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 0 5px 17px 5px;
    text-transform: uppercase;
  }

  &__connect {
    display: inline-block;
    width: 192px;
    height: 26px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    margin: 0 86px 8px 42px;
    text-transform: uppercase;
  }

  &__telephon {
    box-sizing: border-box;
    width: 280px;
    height: 58px;
    padding: 18px 70px 14px 22px;
    background-color: #f2f2f2;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  &__electronic {
    display: inline-block;
    width: 179px;
    height: 26px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    margin: 14px 100px 5px 41px;
    text-transform: uppercase;
  }

  &__mail {
    box-sizing: border-box;
    width: 280px;
    height: 58px;
    padding: 18px 90px 14px 22px;
    background-color: #f2f2f2;
    margin: 5px 0 28px 0;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 28px;
  }

  //Общие впечатления

  &__impression {
    box-sizing: border-box;
    width: 320px;
    height: 288px;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
    margin: 0;
  }

  &__retelling {
    display: inline;
    width: 265px;
    height: 26px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
  }

  &__pozitiv {
    display: flex;
    width: 296px;
    height: 48px;
    margin-bottom: 21px;
  }

  &__well {
    display: inherit;
    width: 48px;
    height: 48px;
    margin: 0 0 21px 4px;
  }

  &__well:nth-child(1) {
    margin: 25px 0 0 4px;
  }

  &__label {
    display: inline-block;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 37px 7px 43px 4px;
  }
  //Посещение достопримечательностей

  &__visit {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 320px;
    height: 408px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__bridge {
    width: 46px;
    height: 46px;
    margin-bottom: 34px;
    margin-left: 20px;
  }

  &__mountain {
    position: relative;
    width: 139px;
    height: 26px;
    margin-bottom: 54px;
    top: -15px;
    right: -25px;
  }
  //Опишите свои эмоции

  &__their {
    display: flex;
    flex-direction: column;
    width: 373px;
    height: 320px;
  }

  &__describe {
    width: 345px;
    height: 26px;
    margin: 20px 38px 15px 38px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &__emo {
    width: 279px;
    height: 160px;
    margin: 0 22px 51px 19px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  &__button {
    width: 280px;
    height: 58px;
    margin: 0 21px 41px 19px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    background-color: @gl-color;
    color: #ffffff;
    text-transform: uppercase;
    padding: 18.5px 30px 13.5px 30px;
    text-align: center;
  }
}

.reviews__rocks {
  display: inline-block;
  width: 268px;
  height: 52px;
  text-align: center;
  margin: 15px 25px 26px 26px;
}

.places {
  width: 215px;
  height: 46px;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1200px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__header {
    width: 500px;
    height: 119px;
    margin: 0 auto;
    margin-bottom: 67px;
    padding: 0;
  }

  .reviews__complain {
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__header {
    width: 500px;
    height: 107px;
    margin-bottom: 57px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__forma {
    width: 648px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .reviews__forma {
    width: 961px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: @tablet-width) {
  .reviews__group {
    display: flex;
    flex-direction: column;
    width: 324px;
    height: 292px;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    margin-right: px;
    order: 0;
    border-left: 1px solid black;
    border-bottom: none;
    box-sizing: border-box;
  }

  .reviews__legend {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews__group {
    width: 470px;
    height: 292px;
    padding: 0;
    margin: 0;
    margin-right: px;
    order: 0;
    border-left: 1px solid black;
    padding-left: 120px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__impression {
    width: 282px;
    height: 292px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    order: -1;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews__impression {
    width: 350px;
    height: 292px;
    padding: 0;
    margin: 0;
    margin-left: 80px;
    margin-right: 50px;
    order: -1;
  }
}

@media (min-width: @tablet-width) {
  .reviews__withus {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 648px;
    height: 245px;
    margin: 0 auto;
    padding: 0;
    border-bottom: none;
    top: -30px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__withus {
    display: inline-block;
    position: relative;
    width: 960px;
    height: 195px;
    margin: 0 auto;
    border-bottom: none;
    top: -50px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__talk {
    width: 648px;
    height: 45px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  .reviews__talk::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 123px;
    height: 1px;
    background-color: black;
    left: -65px;
    top: -7px;
  }

  .reviews__talk::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 123px;
    height: 1px;
    background-color: black;
    left: 60px;
    top: -7px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__talk::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 285px;
    height: 1px;
    background-color: black;
    left: -65px;
    top: -7px;
  }

  .reviews__talk::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 285px;
    height: 1px;
    background-color: black;
    left: 60px;
    top: -7px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__talk {
    width: 960px;
    height: 60;
  }
}

@media (min-width: @tablet-width) {
  .reviews__mail {
    width: 590px;
    height: 58px;
    margin: 0;
    margin-left: 5px;
  }

  .reviews__telephon {
    width: 590px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__mail {
    width: 257px;
    height: 58px;
    margin: 0;
  }

  .reviews__telephon {
    width: 257px;
    height: 58px;
  }

  .reviews__connect {
    margin: 0;
  }

  .reviews__electronic {
    margin: 0;
    margin-left: 50px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__visit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 648px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    top: -50px;
  }

  .reviews__rocks {
    display: block;
    width: 308px;
    height: 53px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
  }

  .reviews__stone {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 58px;
  }

  .reviews__places {
    width: 324px;
    height: 46px;
  }

  .reviews__mountain--three {
    display: inline-block;
    width: 118.27px;
    margin: 0;
  }

  .reviews__mountain--four {
    display: inline-block;
    width: 128.59px;
    margin: 0;
  }

  .reviews__rocks::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 123px;
    height: 1px;
    background-color: black;
    left: -260px;
    bottom: -32px;
  }

  .reviews__rocks::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 123px;
    height: 1px;
    background-color: black;
    left: 260px;
    top: -45px;
  }

  .reviews__bridge {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews__visit {
    position: relative;
    width: 960px;
    height: 190px;
    margin: 0 auto;
    top: -100px;
  }

  .reviews__places {
    width: 240px;
    height: 46px;
  }

  .reviews__rocks::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 280px;
    height: 1px;
    background-color: black;
    left: -355px;
    bottom: -32px;
  }

  .reviews__rocks::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 280px;
    height: 1px;
    background-color: black;
    left: 330px;
    top: -45px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__their {
    width: 648px;
    height: 420px;
    margin: 0 auto;
  }

  .reviews__describe::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 123px;
    height: 1px;
    background-color: black;
    left: -70px;
    bottom: 9px;
  }

  .reviews__describe::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 123px;
    height: 1px;
    background-color: black;
    left: 450px;
    top: -35px;
  }

  .reviews__describe {
    position: relative;
    width: 380px;
    margin: 0 auto;
    margin-bottom: 54px;
    left: -70px;
  }

  .reviews__emo {
    width: 648px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 58px;
    text-overflow: ellipsis;
  }
}

@media (min-width: @desktop-width) {
  .reviews__their {
    position: relative;
    width: 960px;
    height: 450px;
    margin: 0 auto;
    top: -10px;
  }

  .reviews__describe::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 280px;
    height: 1px;
    background-color: black;
    left: -350px;
    bottom: -20px;
  }

  .reviews__describe::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 280px;
    height: 1px;
    background-color: black;
    left: 330px;
    top: -30px;
  }

  .reviews__describe {
    position: absolute;
    width: 280px;
    top: -100px;
    right: -100px;
  }

  .reviews__emo {
    width: 960px;
    height: 190px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 58px;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .reviews__button {
    width: 324px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__button {
    width: 480px;
    height: 58px;
  }
}
