.video__presentation {
  width: 320px;
  height: 427px;
}

.video__doubt {
  .invitation__slogan();
  text-align: center;
  margin-top: 32px;
}

.video__clip {
  display: block;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 0 40px;
}

.video__video {
  width: 320px;
  height: 201px;
}

.video__square {
  display: inline-block;
  position: absolute;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 20px;
  bottom: -2062px;
}

.video__square::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 1);
  left: 22px;
  bottom: 20px;
}


.video__scale {
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: @bg-color;
  border-radius: 50%;
  top: 17px;
  left: 60px;
}


.replay {
  display: inline-block;
  border: none;
  padding: 0;
  height: 20px;
  margin: 22px 133px 24px 25px;
}

.subtitle {
  display: inline-block;
  border: none;
  padding: 0;
  height: 20px;
  margin: 23px 31px 23px 0;
}

.snap {
  display: inline-block;
  border: none;
  padding: 0;
  height: 20px;
  margin: 23px 23px 23px 0;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 66px;
  margin: 0 auto;
}


@media (min-width: @tablet-width) {
  .video__header {
    width: 445px;
    height: 117px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 68px;

    &__video {
      width: 648px;
      height: 685px;
      margin: 0 auto;
    }

    &__presentation {
      position: relative;
      width: 648px;
      height: 870px;
      margin-left: auto;
      margin-right: auto;
      top: -200px;
    }

    &__video ::before {
      content: "";
      width: 648px;
      height: 93px;
      position: relative;
      z-index: 10;
      background-image: url("../img/rewind.svg");
      background-repeat: no-repeat;
      background-size: 648px 93px;
      background-color: black;
    }
  }
}

@media (min-width: @desktop-width) {
  .video__header {
    width: 445px;
    height: 117px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 68px;


    &__video {
      width: 800px;
      height: 500px;
      margin: 0 auto;
    }

    &__presentation {
      position: relative;
      width: 1200px;
      height: 870px;
      margin-left: auto;
      margin-right: auto;
      top: -700px;
      text-align: center;
    }
  }
}

